<h3>Country list</h3>
<div class="container">

  <table class="table table-striped table-bordered table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Capital City</th>
        <th scope="col">Show Details</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let country of countries">
        <td scope="row">
          {{country.name}}
        </td>
        <td>
          {{country.capitalCity}}
        </td>
        <td><a [routerLink]="['/countries', country.iso2Code]">▼</a></td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
<!--
<pre>{{countries | json }}</pre>
<div *ngFor="let country of countries[1]">
  {{country.name}}
</div>-->