<div class="container">
  <h3>Country list</h3>

  <!--INPUT-->
  <ng-template #yesError>
    <input style="border: 2px solid red; border-radius: 2px;" id="layoutName" type="txt" placeholder="New layout">
  </ng-template>
  <ng-template #noError>
    <input id="layoutName" type="txt" placeholder="New layout">
  </ng-template>
  <table>
    <tr>
      <td>
        <select (change)="changeLayout()" id="layoutSelect" >
          <option selected disabled>select layout</option>
          <option *ngFor="let name of layouts">{{name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td *ngIf="errorText; then yesError else noError">
      </td>
      <td>
        <button (click)="saveLayout()" class="btn btn-secondary btn-sm" style="margin:0px 5px 0px 5px;">Add</button>
        <button (click)="clearLayouts()" class="btn btn-secondary btn-sm">Clear layouts</button>
      </td>
    </tr>
  </table>
  <div class="form-group">
  </div>
  <!--/INPUT-->

<!--
  <pre>name reverse: {{columnName.reverse}} | capital reverse: {{columnCapital.reverse}} | region: {{columnRegion.reverse}} | income: {{columnIncome.reverse}}</pre>
-->
  <table id="table" class="table table-striped table-bordered table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th class="sorting-column-header" (click)="sortBy('name')">
          Name <span *ngIf="columnName.primary">{{columnName.arrow}}</span>
        </th>
        <th class="sorting-column-header" (click)="sortBy('capital')">
          Capital city <span *ngIf="columnCapital.primary">{{columnCapital.arrow}}</span>
        </th>
        <th class="sorting-column-header" (click)="sortBy('region')">
          Region <span *ngIf="columnRegion.primary">{{columnRegion.arrow}}</span>
        </th>
        <th class="sorting-column-header" (click)="sortBy('income')">
          Income value <span *ngIf="columnIncome.primary">{{columnIncome.arrow}}</span>
        </th>
        <th>
          Show Details
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let country of countries">
        <td>
          {{country.name}}
        </td>
        <td>
          {{country.capitalCity}}
        </td>
        <td>
          {{country.region.value}}
        </td>
        <td>
          {{country.incomeLevel.value}}
        </td>
        <td>
          <a [routerLink]="['/countries', country.iso2Code]" data-toggle="modal" data-target="#cModal">
            ▼
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>