<div class="container">
  <table class="table" *ngIf="country">
    <tr>
      <td>Name</td>
      <td>{{ country.name | uppercase }}</td>
    </tr>
    <tr>
      <td>Region</td>
      <td>{{country.region.value}}</td>
    </tr>
    <tr>
      <td>Admin region</td>
      <td>{{country.adminregion.value}}</td>
    </tr>
    <tr>
      <td>Income level</td>
      <td>{{country.incomeLevel.value}}</td>
    </tr>
    <tr>
      <td>Lending type</td>
      <td>{{country.lendingType.value}}</td>
    </tr>
    <tr>
      <td>Capacity</td>
      <td>{{country.capitalCity}}</td>
    </tr>
    <tr>
      <td>Longtitude</td>
      <td>{{country.longitude}}</td>
    </tr>
    <tr>
      <td>Latitude</td>
      <td>{{country.latitude}}</td>
    </tr>
  </table>
</div>